* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10101E;

}

.datetime {
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    width: 400px;
    padding: 15px 10px;
    border: 3px solid #2e94e3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.datetime:hover {
    background: #2e94e3;
    box-shadow: 0 0 30px #2e94e3;
}

.date {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.time {
    /* text-align: center; */
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 5px;
    font-weight: 550;
    text-align: center;
    letter-spacing: 1px;
}

.time span:last-child {
    background: #2e94e3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 3px;
    border-radius: 3px;

}