* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#image-map {
    background-image: url(./images/im-1.png);
    background-blend-mode: multiply;
    background-color: #000000cc;
}


.navbar{
    display: flex;
    line-height: 50px;
    padding: 10px;
    justify-content: space-between;
}

.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.padd {
    padding: 50px 0;
}
.padd-bot{
    padding-bottom: 75px;
}

.marg {
    /* margin-top: 50px; */
}
/* <section-1 css> */
.logo{
    padding: 25px 100px;

}
.nav{
    padding-right: 30px;
}


.li-inline {
    display: inline;
    font-size: 38px;
    font-weight: 900;
    margin: 0 10px;
}

ul li {
    display: inline-block ;
    padding: 25px 20px;
    
}

ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #f4f5f9;
    font-weight: 400;
    font-family: sans-serif;
}



.sec1 h3 {
    font-size: 24px;
    color: #f4f5f9;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 20px 0;
}

.sec1 h1 {
    font-size: 72px;
    letter-spacing: 7px;
    color: #f4f5f9;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    padding: 20px 0;

}

.sec1 p {
    width: 600px;
    margin: 0 auto;
    font-size: 14px;
    padding: 20px 0;
    color: #cbc6c0;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.sec1 .btn {
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #e74c3c;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
}

.sec1 .spn a {
    color: white;
    text-decoration: none;
}


/* section-2 */
.section-2{
    padding: 80px 0;
    justify-content: space-between;
    display: flex;
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;

}

.section-2 .section-two-img{
    padding: 20px;
    width: 100px;
    max-height: 100px;
    margin: 0 auto;
    text-align: center;
}
.border{
    border: 2px solid #999999;
}
.section-2 .section-two-img img{
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.section-2 h3{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6a6a6a;
    font-weight: 600;
    font-family: "Open Sans";
    padding: 15px 0;
}
.section-2 span {
    padding-bottom: 10px;
}
.section-2 p{
    width: 255px;
    height: 70px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #999999;
    font-weight: 300;
    padding: 15px;
    text-align: center;
}

/* section-3 */
.section-3{
    display: flex;
    padding: 50px 0;
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    /* color: #ffffff; */
}
.col-50 {
    width: 45%;
}

.sec-3-img {
    width: 100%;
}

.sec-3-img img {
    width: 100%;
}

.section-3 .right h4 {
    font-size: 36px;
    letter-spacing: 4px;
    color: #6a6a6a;
    font-weight: 700;
    font-family: "Source Sans Pro";
    text-align: left;
}

.section-3 .right p {
    width: 100%;
    font-size: 14px;
    line-height: 29px;
    color: #999999;
    font-weight: 400;
    padding: 20px 0;
    text-align: left;

}

.section-3 .btndiv {
    padding-top: 25px;
}

.section-3 .btn {
    border-radius: 3px;
    background-color: #e74c3c;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    padding: 16px 20px;
    display: block;
    text-align: left;
}

/* section-4 */
.section-four{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}
.sec-4{
    background-color: #202020;
}
.section-four .left h1 {
    font-size: 36px;
    letter-spacing: 2px;
    color: #f4f5f9;
    font-weight: 700;
    text-align: right;
    padding: 50px 0;
}
.section-four .left h4 {
    font-size: 18px;
    line-height: 29px;
    color: #e74c3c;
    font-weight: 500;
    text-align: right;
    padding: 10px 0;
}
.section-four .left p {
    font-size: 14px;
    line-height: 29px;
    color: #999999;
    font-weight: 400;
    text-align: right;
}
.section-four .sec-4-img{
    width: 100%;
    right: 20px;
    margin: auto;
}
.section-four .sec-4-img img{
    width: 100%;
    right: 20px;
    margin-left: 88px;
}